body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0b2d6;
}

header {
    background-color: #333;
    color: #f0b2d6;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

/* Estilos para a seção de Contato */
.contact-form {
    padding: 50px 20px;
    text-align: center;
}

.contact-form form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form label {
    font-size: 1.2rem;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #555;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
    display: inline-block;
}

.social-links img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease-in-out;
}

.social-links img:hover {
    transform: scale(1.1);
}

footer {
    margin-top: 520px;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}